.home{
    padding-left: 250px;
}

.welcomeMessage{
    padding-left: 30px;
    padding-top: 30px;
}

.rowThree{
    margin: 60px 30px 30px 30px;
    display: flex;
    justify-content: space-evenly;
}
