#patientSelectorContent{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: center;
    justify-content: center;
    padding-left: 50px;
}

.css-zddlty-MuiButtonBase-root-MuiButton-root{
    width: 500px;
    height: 50px;
    background-color: #5F6AC4 !important;
}

.svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root{
    color: white !important;
}

#vp{
    font-size: 22px;
    padding-bottom: 25px;
}