.sleepStageRingWrapper{

    width: 350px;
    height: 358px;
    margin-right: 50px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}