.sleep{
    margin-left: 280px;
}

.sleepRowOne{
    margin-left: 0px;
    margin-right: 30px;
    display: flex;

    justify-content: space-between;
}

.sleepRowTwo{
    margin-right: 30px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
}

.datePickerContainer{
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}

