.activities{
    padding-left: 280px;
}

.firstRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 60px;
}

.secondRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 120px;
}