.activities{
    padding-left: 280px;
    padding-right: 30px;
}

.firstRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0px;
}

.secondRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.zeroRow{
    display: flex;
    flex-direction: row;
}

#loading{
    margin-top: 45px;
    margin-left: 130px;
}