.home{
    display: flex;
    flex-direction: column;
    padding-left: 280px;
}

.welcomeMessage{
    padding-left: 30px;
    padding-top: 30px;
    color: white;
}

.HomeRowThree{
    margin: 60px 30px 30px 30px;
    display: flex;
    justify-content: space-between;
}

.loading{
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
}